article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}

html {
  position: relative;
  min-height: 100%;
}

body {
	background-color: #E0E0E0;
	font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
	font-size: 11px; 
	color: #000;
    zoom:normal;
	
	
}

.clear {
	clear: both;
}

.mainBody {
	width: 70%;
	margin: 30px auto;
	margin-top: 55px;
	margin-bottom: 100px;
    padding-top: 40px;
}

		
.hiddenRow {padding: 0 !important;}

input.largerCheckbox
{
	width: 20px;
	height: 20px;
}

/*
 * <table class="table table-striped table-condensed table-hover" style="border-collapse:collapse;">
 * --------------------------------------------------
 */
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #E0E0E0;
}

.highlighted{
	background-color: #E0E0E0;
	color: #999;
}

.progress-bar.animate {
	width: 100%;
}

.modal-dialog{
        margin: 45px auto !important;
    }




@media all and (min-width: 702px) and (max-width: 1000px) {
    body,{
        zoom:-1;
        font-size:10px;
    }

    .dropdown-menu li a{
        font-size:11px;
    }

    .mainBody{
	    width: 100%;
	    margin: auto;
	    margin-top: 55px;
	    margin-bottom: 10px;
        padding-top: 0;
    }

    #book .col-sm-9 .form-control{
        height:auto;
        font-size:12px;
    }

    .select2-results .select2-highlighted {
        font-size: 15px;
    }

    .select2-container-multi .select2-choices .select2-search-field input {
        font-size: 14px;
    }


    .modal-dialog{
        width: 400px !important;
    }

    .modal-body .form-group .input-group span{
        width: 150px !important;
    }

    .modal-body .form-group .input-group input{
        width: 250px !important;
    }
}

@media all and (max-width: 701px) {
    body{
        zoom:-1;
        font-size:9px;
    }

    .dropdown-menu li a{
        font-size:10px;
    }
    .mainBody {
	    width: 100%;
	    margin: auto;
	    margin-top: 55px;
	    margin-bottom: 10px;
        padding-top: 0;
    }

    #book .col-sm-9 .form-control{
        height:auto;
        font-size:12px;
    }

    #book .col-sm-3 .pull-right{
        float:left !important;
	}
	
    .modal-dialog{
        width: 350px !important;
    }

    .modal-body .form-group .input-group span{
        width: 125px !important;
    }

    .modal-body .form-group .input-group input{
        width: 225px !important;
    }
}

@media all and (max-width: 480px) {
	.container-fluid{
        padding-left:0;
        padding-right:0;
	}
	
	body{
        zoom:-2;
        font-size:8px;
    }

    .dropdown-menu li a{
        font-size:9px;
    }

    #book .col-xs-9 .form-control{
        height:auto;
        font-size:10px;
    }

    .modal-dialog{
        width: 300px !important;
    }

    .modal-body .form-group .input-group span{
        display:none;
    }

    .modal-body .form-group .input-group form-control{
        margin-bottom:-5px;
    }

    .modal-body .form-group .input-group input, .modal-body .form-group button{
        width: auto;
    }
}

@media all and (max-width: 380px) {
	.navbar-brand{
        display:none;
	}

    #book .col-xs-9{
        width:100%;
    }

    #book .col-xs-3{
        width:100%;
    }


}