@{
    ViewBag.Title = "Application";
}
    

    <div style="padding-top: 40px;" class="row mainBody">
        <div id="myTabContent" class="tab-content">
            @Html.Partial("_Book")
        </div>
    </div>


