@{
    ViewBag.Title = "Application";
}
    

    <div style="" class="row mainBody">
        <div id="myTabContent" class="tab-content">
            @Html.Partial("_Book")
            @Html.Partial("_Reschedule")
        </div>
    </div>


