
<div class="tab-pane fade in active" id="book">
    <form class="form-horizontal" role="form" style="background-color:#E0EAF1; padding:20px; border:4px solid #AAA;">
        
        <div class="row form-group">
            <div class="col-md-3">
                <label style="font-size:1.5em;" class="pull-right">Your Official Name</label>
            </div>
            <div class="col-md-9">
                <div class="">
                    <div class="col-md-4" style="padding:0px;">
                        <input data-bind="" placeholder="SurName" class="form-control" name="username">
                    </div>
                    <div class="col-md-4" style="padding:0px;">
                        <input id="firstName" placeholder="First Name" class="form-control" name="username">
                    </div>
                    <div class="col-md-4" style="padding:0px;">
                        <input placeholder="Last Name" class="form-control" name="username">
                    </div>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3">
                <label style="font-size:1.5em;" class="pull-right">National ID Number</label>
            </div>
            <div class="col-md-9">
                <div class="">
                    <div class="" style="padding:0px;">
                        <input placeholder="When where you born?" class="form-control" name="username">
                    </div>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3">
                <label style="font-size:1.5em;" class="pull-right">Registration Number</label>
            </div>
            <div class="col-md-9">
                <div class="">
                    <div class="" style="padding:0px;">
                        <input placeholder="When where you born?" class="form-control" name="username">
                    </div>
                </div>
            </div>
        </div>
        

        <div class="row form-group">
            <div class="col-md-3">
                <label style="font-size:1.5em;" class="pull-right">Birth Date</label>
            </div>
            <div class="col-md-9">
                <div class="">
                    <div class="" style="padding:0px;">
                        <input placeholder="When where you born?" class="form-control" name="username">
                    </div>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3">
                <label style="font-size:1.5em;" class="pull-right">Program</label>
            </div>
            <div class="col-md-9">
                <div class="">
                    <div class="" style="padding:0px;">
                        <select id="Faculty" data-bind='options: program, optionsText: "name", optionsCaption: "Select Program", value: year ' class="form-control" style="width: 300px;"></select>
                    </div>
                </div>
            </div>
        </div>

        <div data-bind="with: year" class="row form-group">
            <div class="col-md-3">
                <label style="font-size:1.5em;" class="pull-right">Year</label>
            </div>
            <div class="col-md-9">
                <div class="">
                    <div class="" style="padding:0;">
                        <select data-bind='options: years, optionsText: "Name", optionsCaption: "Select...", value: $parent.semesters' id="course" class="form-control" style="width: 300px;"></select>
                    </div>
                </div>
            </div>
        </div>

        <div data-bind="with: semesters" class="row form-group">
            <div class="col-md-3">
                <label style="font-size:1.5em;" class="pull-right">Semester</label>
            </div>
            <div class="col-md-9">
                <div class="">
                    <div class="" style="padding:0;">
                        <select data-bind='options: Semesters, optionsText: "Name", optionsCaption: "Select..."' id="course" class="form-control" style="width: 300px;"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3">
                <label style="font-size:1.5em;" class="pull-right">Faculty</label>
            </div>
            <div class="col-md-9">
                <div class="">
                    <div class="" style="padding:0px;">
                        <select id="Faculty" data-bind='options: falcuty, optionsText: "name", optionsCaption: "Select Falculty", value: course ' class="form-control" style="width: 300px;"></select>
                    </div>
                </div>
            </div>
        </div>

        <div data-bind="with: course" class="row form-group">
            <div class="col-md-3">
                <label style="font-size:1.5em;" class="pull-right">Course</label>
            </div>
            <div class="col-md-9">
                <div class="">
                    <div class="" style="padding:0px;">
                        <select data-bind='options: courses, optionsText: "Name", optionsCaption: "Select..."' id="course" class="form-control" style="width: 300px;"></select>
                    </div>
                </div>
            </div>
        </div>


        <div class="row form-group">
            <div class="col-md-3">
                <label style="font-size:1.5em;" class="pull-right">How Are You Feeling?</label>
            </div>
            <div class="col-md-9">
                <div class="">
                    <div class="" style="padding:0px;">
                        <input class="select2-form-control" placeholder="Write very short explanations" id="tags1" name="username" style="width: 100%;">
                    </div>
                </div>
                <a style="font-size:18px;" data-toggle="collapse" data-parent="" href="#collapseOne">More Explanation</a>
                <div id="collapseOne" class="collapse">
                    <p style="color:#999999; font-size:18px;">Please put a space, comma or press Enter after every ..... Write very short explanations of how you are feeling. include everything you are feeling...</p>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3">
                <label style="font-size:1.5em;" class="pull-right">Possible Causes</label>
            </div>
            <div class="col-md-9">
                <div class="">
                    <div class="" style="padding:0px;">
                        <input class="select2-form-control" placeholder="Write very short explanations" id="tags2" name="username" style="width: 100%;">
                    </div>
                </div>
                <a style="font-size:18px;" data-toggle="collapse" data-parent="" href="#collapseTwo">More Explanation</a>
                <div id="collapseTwo" class="collapse">
                    <p style="color:#999999; font-size:18px;">Please put a space, comma or press Enter after every ..... Write very short explanations of how you are feeling. include everything you are feeling...</p>
                </div>
            </div>
        </div>


        <div class="row form-group">
            <div class="col-md-3">
                <label style="font-size:1.5em;" class="pull-right">Medical Type</label>
            </div>
            <div class="col-md-9">
                <div class="">
                    <div class="" style="padding:0px;">
                        <select data-bind='options: medical_Type, optionsText: "name", optionsCaption: "Select medical_Type", value: available_Doctor ' class="form-control" style="width: 300px;"></select>
                    </div>
                </div>
            </div>
        </div>

        <div data-bind="with: available_Doctor" class="row form-group">
            <div class="col-md-3">
                <label style="font-size:1.5em;" class="pull-right">Available Doctors</label>
            </div>
            <div class="col-md-9">
                <div class="">
                    <div class="" style="padding:0px;">
                        <select data-bind='options: available_Doctors, optionsText: "Name", optionsCaption: "Choose Doctor"' class="form-control" style="width: 300px;"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <div class="" style="padding-top:20px;">
                    <button type="submit" style="color:#000; font-size:1.5em;" class="btn btn-success">Send Appointment!</button>
                </div>
            </div>
        </div>
    </form>
</div>
