


<section class="tab-pane fade" id="doctors" data-bind="visible: role() == 'ADMIN'">
    <input class="btn btn-primary" style="" value="Add New Medical Type" type="button" data-bind="click: newMedical_TypeClick" />
    <div class="clearfix"></div>
    <form style="margin-top: 10px;" class="form-horizontal col-md-8" data-bind="submit: addMedical_Type, visible: newMedical_Type">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Medical_Type</span>
                <input placeholder="Medical_Type" class="form-control" name="Medical_Type" data-bind="value: d">
            </div>

            <input type="submit" value="Submit" class="btn btn-primary btn-block" />
        </div>
    </form>

    <article class="row-fluid">

        <section class="col-md-10">
            <div data-bind="foreach: doctors">

                <div style="border-bottom: 2px solid #000;">

                    <span style="font-weight: 500;" data-bind="text: Name"></span>
                    <span class="btn btn-info pull-right" data-bind="click: $root.addDoctor">Add New Course</span>
                    <span class="btn btn-danger pull-right" data-bind="">Delete</span>
                </div>
                <table class="table table-striped table-condensed" style="border-collapse:collapse;">
                    <thead>
                        <tr>
                            <th style="width:5%;">#</th>
                            <th style="width:50%;"> Available_Doctors</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Available_Doctors">
                        <tr data-bind="template: { name: templateToUseD, data: $data}"></tr>
                    </tbody>
                </table>
                <hr />
            </div>
        </section>

        <script id="readTemplateD" type="text/html">
            <td data-bind="text: $index() + 1"></td>
            <td data-bind="text: UserName"></td>
            <td><button type="button" data-bind="click: $root.editDoctor">Edit</button>   <button type="button" data-bind="click: $root.deleteDoctor">Delete</button></td>
        </script>

        <script id="editTemplateD" type="text/html">
            <td data-bind="text: $index() + 1"></td>
            <td><input type="text" data-bind="value: UserName" /></td>
            <td><button type="button" data-bind="">Accept</button>   <button type="button" data-bind="click: $root.cancelDoctorEdit">Cancel</button></td>
        </script>

        <script id="saveTemplateD" type="text/html">
            <td data-bind="text: $index() + 1"></td>
            <td><input type="text" data-bind="value: UserName" /></td>
            <td><button type="button" data-bind="click: $root.saveDoctor">Save</button>   <button type="button" data-bind="click: $root.cancelDoctorEdit">Cancel</button></td>
        </script>

    </article>

</section>

