<section class="tab-pane fade active in" id="home">
    <div style="text-align:center;" class="text-info"><h2>KISII UNIVERSITY HOSPITAL APPOINTMENT SYSTEM</h2></div>
    <div class="page-header"><h2><small>Users</small></h2></div>
    <table class="table table-striped table-condensed" style="border-collapse:collapse;">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Surname</th>
                <th>Username</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody data-bind=" foreach: users">
            <tr>
                <td data-bind="text: $index() + 1"></td>
                <td data-bind="text: fName"></td>
                <td data-bind="text: lName"></td>
                <td data-bind="text: sName"></td>
                <td data-bind="text: uName"></td>
                <td data-bind="text: rl"></td>
            </tr>
        </tbody>
    </table>


    <div class="page-header"><h2><small>Book Appointment</small></h2></div>
    <p>
        In response to the National Library of Medicine’s Broad Area Announcement titled “Application of Advanced Network Infrastructure Technology in Health and Disaster Management,” the Decision Systems Group (DSG) at Brigham and Women’s Hospital has proposed the development of SMART, acronym for Scalable Medical Alert and Response Technology, as a model for both local area and wide area patient monitoring.  It will also serve as a model for patient monitoring in a disaster situation.  To test this model, the DSG has proposed building a test bed patient monitoring system in the Emergency Department at the Brigham and Women’s Hospital.
        In support of the Brigham and Women’s Hospital SMART proposal, as a subcontractor, MIT’s Laboratory for Computer Science (LCS) will design a scalable location-aware patient monitoring system.  The three main components of this system are (1) a patient-based sensor system; (2) an indoor location infrastructure for tracking equipment and people; and (3) a location database.  This patient monitoring system will be designed in a way that ensures it will work seamlessly across indoor and outdoor contexts.
        LCS will work closely with researchers and practitioners at BWH and CIMIT to integrate the location-aware patient monitoring system with a decision support system that will be developed by BWH researchers to recommend proper allocation of personnel and material resources for patients with cardiovascular and respiratory complaints.
    </p>
    <div class="page-header"> <h2><small>Reschedule Appointment</small></h2></div>
    <p>
        In response to the National Library of Medicine’s Broad Area Announcement titled “Application of Advanced Network Infrastructure Technology in Health and Disaster Management,” the Decision Systems Group (DSG) at Brigham and Women’s Hospital has proposed the development of SMART, acronym for Scalable Medical Alert and Response Technology, as a model for both local area and wide area patient monitoring.  It will also serve as a model for patient monitoring in a disaster situation.  To test this model, the DSG has proposed building a test bed patient monitoring system in the Emergency Department at the Brigham and Women’s Hospital.
        In support of the Brigham and Women’s Hospital SMART proposal, as a subcontractor, MIT’s Laboratory for Computer Science (LCS) will design a scalable location-aware patient monitoring system.  The three main components of this system are (1) a patient-based sensor system; (2) an indoor location infrastructure for tracking equipment and people; and (3) a location database.  This patient monitoring system will be designed in a way that ensures it will work seamlessly across indoor and outdoor contexts.
        LCS will work closely with researchers and practitioners at BWH and CIMIT to integrate the location-aware patient monitoring system with a decision support system that will be developed by BWH researchers to recommend proper allocation of personnel and material resources for patients with cardiovascular and respiratory complaints.
    </p>
    <div class="page-header"><h2><small>Cancel Appointment</small></h2></div>
    <p>
        In response to the National Library of Medicine’s Broad Area Announcement titled “Application of Advanced Network Infrastructure Technology in Health and Disaster Management,” the Decision Systems Group (DSG) at Brigham and Women’s Hospital has proposed the development of SMART, acronym for Scalable Medical Alert and Response Technology, as a model for both local area and wide area patient monitoring.  It will also serve as a model for patient monitoring in a disaster situation.  To test this model, the DSG has proposed building a test bed patient monitoring system in the Emergency Department at the Brigham and Women’s Hospital.
        LCS will work closely with researchers and practitioners at BWH and CIMIT to integrate the location-aware patient monitoring system with a decision support system that will be developed by BWH researchers to recommend proper allocation of personnel and material resources for patients with cardiovascular and respiratory complaints.
    </p>
    <div class="page-header"> <h2><small>Guidance & Cancelling</small></h2></div>
    <p>
        This system will be based on several research initiatives of the Networks and Mobile Systems Group within LCS.  The patient-based sensor system will be based on the ongoing Patient Centric Network project [Harfst 02].   The Cricket system [Priyantha 00] will be the base for the indoor location and tracking system.  It will be extended with commercially available RFID technology for equipment tracking.  INS [Adjie-Winoto 99] will be used for the location database.  The effort will be integrated with SLAM, a new initiative examining scalability issues in sensor networks and resource location and tracking.
        The Patient Centric Network is an ongoing research project: its architectural concepts and software are ready for testing outside the laboratory.  The Cricket and INS systems are established research projects ready for initial deployment in production contexts. RFID is a commercially available tracking technology.  The SLAM project will provide scalable data management and query processing techniques as it matures.
        LCS will work closely with researchers and practitioners at BWH and CIMIT to integrate the location-aware patient monitoring system with a decision support system that will be developed by BWH researchers to recommend proper allocation of personnel and material resources for patients with cardiovascular and respiratory complaints.
    </p>
    <div class="page-header"><h2><small>Diagnosis</small></h2></div>
    <p>
        In response to the National Library of Medicine’s Broad Area Announcement titled “Application of Advanced Network Infrastructure Technology in Health and Disaster Management,” the Decision Systems Group (DSG) at Brigham and Women’s Hospital has proposed the development of SMART, acronym for Scalable Medical Alert and Response Technology, as a model for both local area and wide area patient monitoring.  It will also serve as a model for patient monitoring in a disaster situation.  To test this model, the DSG has proposed building a test bed patient monitoring system in the Emergency Department at the Brigham and Women’s Hospital.
        In support for testing outside the laboratory.  The Cricket and INS systems are established research projects ready for initial deployment in production contexts. RFID is a commercially available tracking technology.  The SLAM project will provide scalable data management and query processing techniques as it matures.
        LCS will work closely with researchers and practitioners at BWH and CIMIT to integrate the location-aware patient monitoring system with a decision support system that will be developed by BWH researchers to recommend proper allocation of personnel and material resources for patients with cardiovascular and respiratory complaints.
    </p>
    <div class="page-header"> <h2><small>Stress Management</small></h2></div>
    <p>
        In response to the National Library of Medicine’s Broad Area Announcement titled “Application of Advanced Network Infrastructure Technology in Health and Disaster Management,” the Decision Systems Group (DSG) at Brigham and Women’s Hospital has proposed the development of SMART, acronym for Scalable Medical Alert and Response Technology, as a model for both local area and wide area patient monitoring.  It will also serve as a model for patient monitoring in a disaster situation.  To test this model, the DSG has proposed building a test bed patient monitoring system in the Emergency Department at the Brigham and Women’s Hospital.
        In support integrate the location-aware patient monitoring system with a decision support system that will be developed by BWH researchers to recommend proper allocation of personnel and material resources for patients with cardiovascular and respiratory complaints.
    </p>
</section>
